<!--<filter>-->
<!--    <filter-name>NoCachesFilter</filter-name>-->
<!--    <filter-class>com.example.server.Controller.NoCachesFilter</filter-class>-->
<!--</filter>-->
<!--<filter-mapping>-->
<!--<filter-name>NoCachesFilter</filter-name>-->
<!--<url-pattern>/*</url-pattern> &lt;!&ndash; 根据需要调整url-pattern &ndash;&gt;-->
<!--</filter-mapping>-->
